/* src/components/TopNav/TopNav.css */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.top-nav {
    position: sticky;
    top: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    max-height: 55px;
    background-color: #977145;
    color: #fff;
    border-bottom: 1px solid #000
  }
  
  .top-nav-left, .top-nav-center, .top-nav-right {
    display: flex;
    align-items: center;
  }

.profile-icon {
  width: 45px; /* Adjust the size of the icon */
  height: 45px;
  margin-right: 8px; /* Adds space between the icon and "Profile" text */
}


  .Burger_burger__1c5EC {
    background: transparent !important; /* Ensures the background is transparent */
    border: transparent !important;
    border: none;
    cursor: pointer;
  }
  
  .Icon_icon__1UNFx {
    display: block;
    fill: #fff;
  }
  
  .menu-button {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
  }

  .app-title {
    font-size: 45px;
    color: #fff;
    font-family: MedievalSharp, sans-serif;
  }
  
  .profile {
    font-size: 25px;
    cursor: pointer;
    font-family: MedievalSharp, sans-serif;
  }
  